body {
    background-color:  #EBDEDC;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.title {
   font-family: 'Arial Black', 'Impact', sans-serif;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 900;
    color: #333;
    margin: 10px 0;
}

.subtitle {
    font-weight: 500;
    font-weight:1px;
    font-size: 16px;
    color: #333;
    margin: 10px 0 20px;
}

.input {
    background-color: #EBDEDC;
    width: 100%;
    height: 140px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    resize:none;
}

.input:hover {
   box-shadow: 4px 4px 8px rgba(0, 0, 0, 100);
}

.button {
    width: 100%;
    background-color:#CBC6C5;
    color: #333;
    font-size: 20px;
    padding: 0px 0;
    margin-left: 20px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #bbb;
}

.subtitlebutton{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
